.settings-section{
    height: 94vh;
    overflow-y: hidden;
}

.inner-settings-section{
    padding: 100px;
}

.settings-section form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.settings-section form .form-items{
    margin: 5px 0;
}

.settings-section form .form-items img{
    width: 300px;
    border: 2px solid white;
    /* border-radius: 300px; */
}

.sub-settings-section{
    padding: 10px;
}

.settings-section form .form-items p{
    font-size: 11px;
    color: red;
}