.btn-a {
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    background-color: blue;
    cursor: pointer;
    text-decoration: none;

    width: 100px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    background-color: blue;
    cursor: pointer;
    text-decoration: none;

    display: inline-block;

    padding: 10px 20px;
}

.btn:hover{
    background-color: rgb(100, 100, 255);
}

.base-bg-1{
    background-image: linear-gradient(to top right, rgba(255, 68, 100, 0.4), rgba(255, 192, 203, 0.3));
}

.base-bg-2{
    background-color: rgb(255, 192, 203, 0.5);
}

.base-input {
    outline: none;
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-container{
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-modal-container{
    width: 60vw;
    height: 60vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}

.bg-red{
    background-color: red;
}

.bg-red:hover{
    background-color: rgb(255, 50, 50);
}